<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nedam.soochanProject.mapper.StaffMapper">
    <select id="getStaffList" resultType="com.nedam.soochanProject.domain.StaffVo">
        SELECT *
        FROM STAFF
    </select>
    <!--사원등록-->
    <insert id="register" parameterType="com.nedam.soochanProject.domain.StaffVo">
        INSERT INTO STAFF(staff_no, staff_name, jumin_no, school_code, department_code, graduate_day)
        VALUES (STAFF_SEQUENCE.NEXTVAL, #{staffName}, #{juminNo},
                #{schoolCode},
                #{departmentCode},
                #{graduateDay})
    </insert>
    <!--사원 스킬 등록 -->
    <insert id="registerStaffSkill" parameterType="com.nedam.soochanProject.dto.InserStaffSkillDto">
        <bind name="staffName1" value="staffName"/>
        INSERT INTO staff_skill(staff_no, skill_code)
        <foreach collection="skillCode" item="skill" separator="UNION ALL">
            <!--        <if test="skill != ''">-->
            SELECT
            (SELECT staff_no FROM staff WHERE staff_name = #{staffName1}),
            (SELECT skill_code FROM code_skill WHERE skill_name = #{skill})
            FROM DUAL
        </foreach>
    </insert>

    <!--상세조회-->
    <select id="getDetail" parameterType="int"
            resultType="com.nedam.soochanProject.domain.StaffVo">
        SELECT *
        FROM staff
        WHERE staff_no = #{staffNo}


    </select>

    <!--검색쿼리-->
    <select id="getSearchIntegerList" parameterType="int"
            resultType="int">
        SELECT staff_No FROM staff
        <where>
            <if test="staffName != null">
                AND staff_name LIKE '%' || #{staffName}|| '%'
            </if>
            <if test="departmentCode != null">
                AND department_code = #{deparmentCode}
            </if>
            <if test="schoolCode != null">
                AND school_code = #{schoolCode}
            </if>

            <if test="startGraduateDay != null or endGraduateDay != null ">
                AND graduate_day
                <if test="endGraduateDay == null and startGraduateDay != null">
                    between to_date(#{startGraduateDay}, 'YYYY-MM-DD')
                    AND to_date('9999-12-31', 'YYYY-MM-DD')
                </if>
                <if test="endGraduateDay != null and startGraduateDay ==null">
                    between to_date('0001-01-01', 'YYYY-MM-DD')
                    AND to_date(#{endGraduateDay}, 'YYYY-MM-DD')
                </if>
                <if test="endGraduateDay != null and startGraduateDay !=null">
                    between to_date(#{startGraduateDay}, 'YYYY-MM-DD')
                    AND to_date(#{endGraduateDay}, 'YYYY-MM-DD')
                </if>
            </if>
        </where>
    </select>

    <select id="getSearchIntegerStaffList" parameterType="int"
            resultType="com.nedam.soochanProject.domain.StaffVo">
        SELECT * FROM staff
        <where>
            <if test="staffName != null">
                AND staff_name LIKE '%' || #{staffName}|| '%'
            </if>
            <if test="departmentCode != null">
                AND department_code = #{deparmentCode}
            </if>
            <if test="schoolCode != null">
                AND school_code IN
                <foreach item="item" index="index" collection="schoolCode" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="startGraduateDay != null or endGraduateDay != null ">
                AND graduate_day
                <if test="endGraduateDay == null and startGraduateDay != null">
                    between to_date(#{startGraduateDay}, 'YYYY-MM-DD')
                    AND to_date('9999-12-31', 'YYYY-MM-DD')
                </if>
                <if test="endGraduateDay != null and startGraduateDay ==null">
                    between to_date('0001-01-01', 'YYYY-MM-DD')
                    AND to_date(#{endGraduateDay}, 'YYYY-MM-DD')
                </if>
                <if test="endGraduateDay != null and startGraduateDay !=null">
                    between to_date(#{startGraduateDay}, 'YYYY-MM-DD')
                    AND to_date(#{endGraduateDay}, 'YYYY-MM-DD')
                </if>
            </if>
        </where>
    </select>

    <select id="getSearchStaffList" parameterType="com.nedam.soochanProject.dto.SearchStaffSkillDto"
            resultType="com.nedam.soochanProject.domain.StaffVo">
        <!--        <select id="findStaffByStaffNoAndSkillCodeList" resultMap="staffResultMap">-->
        SELECT s.*
        FROM staff s
        JOIN staff_skill ss ON s.staff_no = ss.staff_no
        WHERE s.staff_no IN
        <foreach item="item" index="index" collection="staffNoList" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND ss.skill_code IN
        <foreach item="item" index="index" collection="skillCodeList" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY s.staff_no, s.staff_name, s.jumin_no, s.school_code, s.department_code, s.graduate_day
        HAVING COUNT(DISTINCT ss.skill_code) = #{skillCount}
    </select>
    <!--    SELECT *-->
    <!--    FROM users u-->
    <!--    INNER JOIN post p ON u.id = p.user_id-->
    <!--    WHERE p.id IN (1, 2, 3);-->

    <select id="getSkillList" resultType="java.util.List">
        SELECT skill_code, skill_name
        FROM code_skill
    </select>

    <insert id="registerSkill" parameterType="com.nedam.soochanProject.dto.ForSkillListDto">
        <foreach collection="skillList" item="skillName">
            INSERT INTO code_skill(skill_code, skill_name)
            VALUES(code_skill_seq.nextval, #{skillName})
        </foreach>
    </insert>

    <!--삭제-->
    <delete id="delete" parameterType="int">
        DELETE
        FROM STAFF
        WHERE staff_no = #{param1}
    </delete>

    <select id="getStaffSkillList" parameterType="int" resultType="String">
        SELECT skill_code
        FROM staff_skill
        WHERE staff_no = #{param1}
    </select>
    <!--staffSkill삭제-->
    <delete id="deleteStaffSkills" parameterType="int">
        DELETE
        FROM staff_skill
        WHERE staff_no = #{staffNo}

    </delete>

    <update id="updateStaff" parameterType="com.nedam.soochanProject.dto.UpdateRequestDto">
        UPDATE staff
        SET jumin_no        = #{juminNo},
            school_code     = #{schoolCode},
            department_code = #{departmentCode},
            graduate_day    = #{graduateDay}
        WHERE staff_no = #{staffNo}
    </update>
    <select id="getAllStaff" resultType="com.nedam.soochanProject.domain.StaffVo">
        SELECT *
        from STAFF
    </select>

</mapper>