<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nedam.soochanProject.mapper.StaffMapper">
    <select id="getStaffList" resultType="com.nedam.soochanProject.domain.StaffVo">
       SELECT *
       FROM TABLE_STAFF
    </select>
</mapper>